/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
#map {
    width:750px;
    height:400px;
}
.context-menu-marker {
    border-style:none;
    border-width:0px;
    position:absolute;
    visibility:hidden;
    background:white;
}

.options-marker {
    width:96%;
    height:18px;
    padding:3px 0px 3px 2px;
    border:1px solid #ccc;
    cursor:pointer;
}

.options-marker:hover {
    background:#ccc;   
}


