 <div class="col-md-7">
                <div id="map"></div>
            </div>
<div class="col-md-5">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title text-center">Add new people <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <div class="panel-body">

            <form name="addForm" novalidate>
                <div class="form-group">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" id="firstName" ng-model="formData.firstName" placeholder="Enter your First Name">
                        <label for="FirstName">First Name</label>
                        <span class="help-block">Thien</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" id="lastName" ng-model="formData.lastName" placeholder="Enter your Last Name">
                        <label for="LastName">Last Name</label>
                        <span class="help-block">Vo Duy</span>
                    </div>
                </div>

                <label class="radio control-label">Gender</label>
                <div class="clearfix">
                    <div class="btn-group" data-toggle="buttons">
							<input type="radio" class="toggle" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">Male 
							<input type="radio" class="toggle"  name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender"> Female 
                    </div>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" id="age" placeholder="72" ng-model="formData.age" required>
                </div>
                <div class="form-group">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" id="lastName" ng-model="formData.favlang" placeholder="Choose your language">
                        <label for="LastName">Language</label>
                        <span class="help-block">Choose your language</span>
                    </div>
                </div>
                <label class="radio control-label">Status</label>
                <div class="clearfix">
                    <div class="btn-group" data-toggle="buttons">
                        <input type="radio" class="toggle" name="statusRadios" id="checkalive" value="alive" ng-model="formData.status" ng-true-value="'Alive'">Alive
                        <input type="radio" class="toggle" name="statusRadios" id="checkdeath" value="death" ng-model="formData.status" ng-true-value="'Death'">Death
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" id="latitude" ng-model="formData.latitude" value="39.500" readonly>
                        <label for="Latitude">Latitude</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" id="longitude" ng-model="formData.longitude" value="-98.350" readonly>
                        <label for="Longitude">Longitude</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="verified">HTML5 Verified Location? <span><button ng-click="refreshLoc()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="verified" placeholder="Click verify to get your current adress" ng-model="formData.htmlverified"
                        readonly>
                </div>

                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>