<div class="container">
    <div class="page-content-inner">
        <div class="mt-content-body">
            <div class="row">
                <div class="col-md-4 col-sm-4" id="map">
                </div>
                <div class="col-md-4 col-sm-4">
                    <form name="referenceForm" novalidate>
                        <div class="form-group">
                            <a class="btn btn-danger" ng-click="queryUsers()">Search people 100 miles from check point</a>
                            <a class="btn btn-primary" ng-click="updateUser()">Update this guy</a>
                            <div class="form-group form-md-line-input">
                                <input readonly type="text" class="form-control" id="firstName" ng-model="formData.fatherID" placeholder="Father">
                                <label for="FirstName">Father</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group form-md-line-input">
                                <input readonly type="text" class="form-control" id="lastName" ng-model="formData.motherID" placeholder="Mother">
                                <label for="LastName">Mother</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block" ng-click="updateReferenceUser()">Save</button>
                        <button class="btn btn-danger btn-block" ng-click="backFn()">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>