<div class="col-md-12">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title text-center">View as tree <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <div class="panel-body">

            <form name="treeForm" novalidate>
            </form>
        </div>
    </div>
</div>